<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
        <div>
          Logged in as <strong><%= current_user.name %></strong>.
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        </div>
        <%= link_to user_path(current_user) do %>
          <% if current_user.image %>
            <img src="<%= current_user.image %>" class="user-icon">
          <% else %>
            <%= image_tag 'default.png', class: 'user-icon' %>
          <% end %>
        <% end %>
      <% else %>
        <div>
          <%= link_to "ログイン", new_user_session_path %>
        </div>
      <% end %>
    </header>
    <div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
