<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
        <div class="user-menu">
          <p>Logged in as <strong><%= current_user.name %></strong>.</p>
          <p><%= link_to "マイページ", user_path(current_user) %></p>
          <p><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></p>
          <p><%= link_to "新規投稿", new_post_path %></p>
          <p><%= link_to "ユーザー情報編集", edit_user_registration_path %></p>
        </div>
        <% if current_user.image %>
          <img src="<%= current_user.image %>" class="user-icon">
        <% else %>
          <%= image_tag 'default.png', class: 'user-icon' %>
        <% end %>
      <% else %>
        <div>
          <%= link_to "ログイン", new_user_session_path %>
        </div>
      <% end %>
    </header>
    <div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
